/* common code */
.no-margin {
    margin: 0px;
}

.form-control {
    padding: 6px 12px !important;
}

.padding-top {
    padding-top: 15px;
}

a.btn.icon-only-btn {
    background-color: transparent;
    box-shadow: none;
}

a.btn.icon-only-btn:hover {
    background-color: transparent;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    background-color: transparent;
    border: 0px solid;
    border-bottom: 3px solid #25457d;
}

.informer-md-modal .modal-header {
    background-color: #2a4f88;
    /* color: white; */
}

.informer-md-modal h4.modal-title {
    color: #fff;
}

.informer-md-modal .modal-body {
    max-height: 50vh;
    overflow: auto;
}

.informer-md-modal .modal-footer {
    background: #f1f1f1;
}

.modal.edit-UserModal h4.modal-title.editUser-title,
.modal.edit-OrgModal h4.modal-title.editOrg-title {
    display: block;
}

.modal.edit-UserModal h4.modal-title.newUser-title,
.modal.edit-OrgModal h4.modal-title.newOrg-title {
    display: none;
}

.modal h4.modal-title.editUser-title,
.modal h4.modal-title.editOrg-title {
    display: none;
}

.modal h4.modal-title.newUser-title,
.modal h4.modal-title.newOrg-title {
    display: block;
}
.bootbox.modal.alert-with-icon .modal-body {
    padding-left: 60px;
    position: relative;
}

.bootbox.modal.alert-with-icon .modal-body:before {
    content: "\f000";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: #000;
    font-size: 35px;
    padding-right: 0.5em;
    position: absolute;
    top: 3px;
    left: 13px;
}

.bootbox.modal.alert-with-icon .modal-dialog {
    border: 2px solid #ccc;
    border-radius: 4px;
}

.bootbox.modal.danger-alert.alert-with-icon .modal-body:before {
    content: "\f06a";
    color : darkred;
}
.bootbox.modal.danger-alert.alert-with-icon .modal-dialog {
    border-color: darkred;
}

.bootbox.modal.success-alert.alert-with-icon .modal-body:before {
    content: "\f058";
    color : darkgreen;
}
.bootbox.modal.success-alert.alert-with-icon .modal-dialog {
    border-color: darkgreen;
}

/*   user management page style   */
table.table.user-management-list-table tr td,
table.organisation-list-table tr td {
    border-top: 0px solid;
    border-bottom: 1px solid #ccc;
}

table.table.user-management-list-table tr:last-child td,
table.table.organisation-list-table tr:last-child td {
    border-bottom: 0px solid;
}

h4.media-heading {
    display: inline-block;
}

span.label.label-veify {
    position: relative;
    top: -2px;
    margin-left: 9px;
    margin-right: 5px;
}

.label.label-veify.label-verifts-true {
    background-color: #4CAF50;
}

.label.label-veify.label-verifts-false {
    background-color: #FF9800;
}

.label.label-veify.label-verifts-true:before {
    content: "Verified";
}

.label.label-veify.label-verifts-false:before {
    content: "Pending";
}

.toggle-middle {
    text-align: center;
    margin: 0 auto;
    display: inline-block;
    position: relative;
    top: 2px;
}

.toggle-middle.st-true .fa {
    color: #4CAF50;
}

.toggle-middle .on-fa {
    display: block;
}

.toggle-middle .off-fa {
    display: none;
}

.toggle-middle.st-true .on-fa {
    display: none;
}

.toggle-middle.st-true .off-fa {
    display: block;
}

i.off-fa.fa.fa-toggle-on.fa-lg.fa-rotate-180 {
    position: relative;
    top: -1px;
}

.panel.panel-default.no-bg {
    background: transparent;
    border: 1px solid #ccc;
}

div#content {
    margin-top: 15px;
    padding: 15px 30px;
}

div#uploadfrm {
    padding: 15px;
}

i.btn.btn-primary.waves-input-wrapper.waves-effect {
    background: #25457d !important;
    color: #fff !important;
    padding: 10px 15px;
    padding-top: 7px;
}

i.btn.btn-primary.waves-input-wrapper.waves-effect input {
    padding: 0px;
    font-style: normal;
    text-transform: uppercase;
    line-height: 15px;
}

i.btn.btn-default.waves-input-wrapper.waves-effect input {
    padding: 0px;
    font-style: normal;
    text-transform: uppercase;
    line-height: 15px;
}

i.btn.btn-default.waves-input-wrapper.waves-effect {
    background: #ccc !important;
    color: #3a3a3a !important;
    padding: 10px 15px;
    padding-top: 7px;
}


/* map data */
.mapdata ul.tab {
    list-style-type: none;
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0;
    overflow: hidden;
    /* border: 1px solid #ccc;
      background-color: #f1f1f1; */
    line-height: 5px;
}
.mapdata ul.tab li {
    float: left;
}
.mapdata ul.tab li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}
.mapdata ul.tab li a:hover {
    background-color: #ccc;
}
.mapdata ul.tab li a:focus,
.mapdata .active {
    background-color: #eb8932;
}
.mapdata .tabcontent {
    display: none;
    padding: 6px 12px 20px 0px;
    border: 1px transparent #ccc;
    border-top: none;
}
.mapdata ul.mdl-mega-footer--link-list li {
    text-align: left;
}
.mapdata h1.mdl-mega-footer--heading {
    text-align: left;
}
.mapdata ul.mdl-mega-footer--link-list li a {
    color: #ccc;
}

.mapdata .tablinks.active {
    background: #eb8932;
    color: #fff !important;
    border-radius: 4px;
}


/* informer-table */

.informer-table {
    border: 1px solid #dcdcdc;
}

.informer-table tr th {
    padding: 5px 10px !important;
    vertical-align: middle;
}

.informer-table tr td.item:last-child {
    text-align: center;
}

.informer-table.table-hover>tbody>tr:hover,
.informer-table.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: rgba(104, 125, 167, 0.21);
}

.informer-table.table-striped tr.theadtr {
    background: #2a4f88 !important;
    color: #fff;
}

.informer-table.table-striped tr.theadtr th {
    display: table-cell;
    text-align: left;
    vertical-align: middle;
}

.generated-commentary div {
    border-bottom: 1px dashed #ccc;
    padding-top: 8px;
    padding-bottom: 8px;
}

.generated-commentary div:last-child {
    border-bottom: 0px;
    padding-bottom: 0px;
}

.generated-commentary p {
    margin-bottom: 0px;
}

/**  Tabs **/
/* Component Needs */
.pc-tab > input,
.pc-tab section > div {
    display: none;
}

#tab1:checked ~ section .tab1,
#tab2:checked ~ section .tab2,
#tab3:checked ~ section .tab3 {
    display: block;
}

#tab1:checked ~ nav .tab1,
#tab2:checked ~ nav .tab2,
#tab3:checked ~ nav .tab3 {
    color: red;
}

/* Visual Styles */
.pc-tab {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
}
.pc-tab ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.pc-tab ul li label {
    font-family: "Raleway";
    float: left;
    padding: 15px 25px;
    border: 1px solid #ddd;
    border-bottom: 0;
    background: #eeeeee;
    color: #444;
}
.pc-tab ul li label:hover {
    background: #dddddd;
}
.pc-tab ul li label:active {
    background: #ffffff;
}
.pc-tab ul li:not(:last-child) label {
    border-right-width: 0;
}
.pc-tab section {
    font-family: "Droid Serif";
    clear: both;
}
.pc-tab section div {
    padding: 20px;
    width: 100%;
    border: 1px solid #ddd;
    background: #fff;
    line-height: 1.5em;
    letter-spacing: 0.3px;
    color: #444;
}
.pc-tab section div h2 {
    margin: 0;
    font-family: "Raleway";
    letter-spacing: 1px;
    color: #34495e;
}

#tab1:checked ~ nav .tab1 label,
#tab2:checked ~ nav .tab2 label,
#tab3:checked ~ nav .tab3 label {
    background: white;
    color: #111;
    position: relative;
}
#tab1:checked ~ nav .tab1 label:after,
#tab2:checked ~ nav .tab2 label:after,
#tab3:checked ~ nav .tab3 label:after {
    content: '';
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: #ffffff;
    left: 0;
    bottom: -1px;
}

/* new table modificaton for map data*/

table#pla tr th:nth-child(4),
table#pla tr th:nth-child(5),
table#pla tr th:nth-child(6),
table#pla tr td:nth-child(4),
table#pla tr td:nth-child(5),
table#pla tr td:nth-child(6) {
    max-width: 70px !important;
    min-width: 70px !important;
    word-break: unset;
}

.tabcontent #pla td input {
    width: 100%;
}

.tabcontent #pla td:last-child input[type=checkbox]{
    display: inline-block;
    width: inherit;
}

table#pla tr th:last-child,
table#pla tr td:last-child {
    max-width: 50px !important;
    min-width: 50px !important;
    text-align: center;
}