/* common code */
.no-margin {
    margin: 0px;
}

.form-control {
    padding: 6px 12px !important;
}

.padding-top {
    padding-top: 15px;
}

a.btn.icon-only-btn {
    background-color: transparent;
    box-shadow: none;
}

a.btn.icon-only-btn:hover {
    background-color: transparent;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    background-color: transparent;
    border: 0px solid;
    border-bottom: 3px solid #25457d;
}

.informer-md-modal .modal-header {
    background-color: #2a4f88;
    /* color: white; */
}

.informer-md-modal h4.modal-title {
    color: #fff;
}

.informer-md-modal .modal-body {
    max-height: 50vh;
    overflow: auto;
}

.informer-md-modal .modal-footer {
    background: #f1f1f1;
}

.modal.edit-UserModal h4.modal-title.editUser-title,
.modal.edit-OrgModal h4.modal-title.editOrg-title {
    display: block;
}

.modal.edit-UserModal h4.modal-title.newUser-title,
.modal.edit-OrgModal h4.modal-title.newOrg-title {
    display: none;
}

.modal h4.modal-title.editUser-title,
.modal h4.modal-title.editOrg-title {
    display: none;
}

.modal h4.modal-title.newUser-title,
.modal h4.modal-title.newOrg-title {
    display: block;
}
.bootbox.modal.alert-with-icon .modal-body {
    padding-left: 60px;
    position: relative;
}

.bootbox.modal.alert-with-icon .modal-body:before {
    content: "\f000";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: #000;
    font-size: 35px;
    padding-right: 0.5em;
    position: absolute;
    top: 3px;
    left: 13px;
}

.bootbox.modal.alert-with-icon .modal-dialog {
    border: 2px solid #ccc;
    border-radius: 4px;
}

.bootbox.modal.danger-alert.alert-with-icon .modal-body:before {
    content: "\f06a";
    color : darkred;
}
.bootbox.modal.danger-alert.alert-with-icon .modal-dialog {
    border-color: darkred;
}

.bootbox.modal.success-alert.alert-with-icon .modal-body:before {
    content: "\f058";
    color : darkgreen;
}
.bootbox.modal.success-alert.alert-with-icon .modal-dialog {
    border-color: darkgreen;
}

/*   user management page style   */
table.table.user-management-list-table tr td,
table.organisation-list-table tr td {
    border-top: 0px solid;
    border-bottom: 1px solid #ccc;
}

table.table.user-management-list-table tr:last-child td,
table.table.organisation-list-table tr:last-child td {
    border-bottom: 0px solid;
}

h4.media-heading {
    display: inline-block;
}

span.label.label-veify {
    position: relative;
    top: -2px;
    margin-left: 9px;
    margin-right: 5px;
}

.label.label-veify.label-verifts-true {
    background-color: #4CAF50;
}

.label.label-veify.label-verifts-false {
    background-color: #FF9800;
}

.label.label-veify.label-verifts-true:before {
    content: "Verified";
}

.label.label-veify.label-verifts-false:before {
    content: "Pending";
}

.toggle-middle {
    text-align: center;
    margin: 0 auto;
    display: inline-block;
    position: relative;
    top: 2px;
}

.toggle-middle.st-true .fa {
    color: #4CAF50;
}

.toggle-middle .on-fa {
    display: block;
}

.toggle-middle .off-fa {
    display: none;
}

.toggle-middle.st-true .on-fa {
    display: none;
}

.toggle-middle.st-true .off-fa {
    display: block;
}

i.off-fa.fa.fa-toggle-on.fa-lg.fa-rotate-180 {
    position: relative;
    top: -1px;
}